#guestListItem {
    height: 30%;
    margin-right: 25px;
    background-color: #1B1C1D;
    margin-bottom: 60px;
    #guestHeader {
        font-size: 1.4em;
        padding: 10px;
    }
    img {
        object-fit: cover;
    }
}