
.userInviteContainer {
    margin-top: 6vh;

    #userName{
        font-size: 2rem;
    }
    #inviteBttn {
        color: white;
        background-color: #B358BA;
    }
    #uninviteBttn {
        color: white;
        background-color: #6A8CDF;
    }
    #userItem {
        padding: 2rem;
    }
    #profilePic {
        width: 12rem;
    }
    .filteringContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
        #userSearchBar {
            width: 16rem;
        }
        #clearFilterBttn {
            margin-left: 8px;
            color: white;
            background-Color: #6A8CDF;
            width: 12rem;
            height: 2.5em;
        }
        #invitedFilterBttn {
            margin-left: 8px;
            color: white;
            background-Color: #6A8CDF;
            width: 12rem;
            height: 2.5em;
        }
        #uninvitedFilterBttn {
            margin-left: 8px;
            color: white;
            background-color: #B358BA;
        }
    }
}

#flatBttn1 {
    white-space: nowrap;
    height: fit-content;
    color: white;
    background-Color: #11A9BA;
    width: 12rem;
    height: 2.5em;
}

#flatBttn2 {
    white-space: nowrap;
    height: fit-content;
    margin-left: 8px;
    color: white;
    background-Color: #11A9BA;
    width: 12rem;
    height: 2.5em;
}

.flexDiv{
    display: flex;
}

